#Projects{
    display: flex;
    flex-direction: column;
    height: 150vh;
    align-items: end;
    background-color: var(--white);
    svg{
        width: 100%;
        display: inline-block;
        path{
            fill: var(--black);
        }
    }
}