div#points{
  height: fit-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .point{
    border-radius: 50%;
    border: var(--black) solid .2vmin;
    width: 1rem;
    height: 1rem;
    &#active{
      background-color: var(--black);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: transparent;
  }
  .line{
    background-color: var(--black);
    width: 2%;
    height: 1rem;
  }
}
div#points.light{
  .point{
    border: var(--white) solid .2vmin;
    &#active{
      background-color: var(--white);
    }
  }
  .line{
    background-color: var(--white);
  }
}