div#points{
  height: fit-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  .point{
    border-radius: 50%;
    border: var(--black) solid .2vmin;
    width: 2rem;
    height: 2rem;
    &.active{
      background-color: var(--black);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: transparent;
    transition: all .3s ease;
    &:not(.active):hover{
      background-color: var(--primary);
      border: none !important;
    }
  }
  .line{
    background-color: var(--black);
    width: 2rem;
    height: .05rem;
  }
}
div#points.light{
  .point{
    border: var(--white) solid .2vmin;
    &.active{
      background-color: var(--white);
    }
  }
  .line{
    background-color: var(--white);
  }
}
@media screen and (min-width: 1024px){
  div#points{
    flex-direction: column;
    .point{
      width: 1rem;
      height: 1rem;
    }
    .line{
      width: 2%;
      height: 1rem;
    }
  }
}