:root{
    --black: #0a0a0a;
    --white: #D4D4D8;
    --primary: #CA8A04;
    --cardsColor: #171717;
    --categoryColor: #737373;
/* 
    --font-color-light: #FFFFFF;
    --font-color-dark: #000000;

    --color-points-light: #FFFFFF;
    --color-points-dark: #353535; */
}