@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/*  @font-face {
    font-family: lightText;
    src: url(../assets/fonts/Ubuntu-Light.ttf);
    font-display: swap;
 }
 @font-face {
    font-family: regularText;
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
    font-display: swap;
 }
 @font-face {
    font-family: mediumText;
    src: url(../assets/fonts/Ubuntu-Medium.ttf);
    font-display: swap;
 }
 @font-face {
    font-family: boldText;
    src: url(../assets/fonts/Ubuntu-Bold.ttf);
    font-display: swap;
 } */

 h1{
   font-size: 3rem;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
   text-decoration: underline;
 }