nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  width: 100%;
  height: 25%;
  padding: 0 6% 0 6%;
  background-color: var(--white);
  z-index: 100;
  #img{
    width: 50%;
    img.logo{
      width: 10rem;
      height: 10rem;
      pointer-events: none;
    }
  }
  ul{
    display: none !important; // temporal
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    white-space: nowrap;
    li{
      display: flex;
      align-items: center;
      a{
      color: var(--black);
      font-weight: 500;
      font-size: 3vmin;
      text-decoration: none;
      display: inline-block;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--black);
        transform-origin: bottom right;
        transition: transform 0.2s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      }
    }
  }
}
nav.light{
  img.logo{
    filter: invert(1);
  }
  ul li a{
    color: var(--white);
  }
}

// temporal

@media screen and (min-width: 1024px){
  nav ul {
    display: flex !important; // temporal
  }
}