nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  height: 25%;
  padding: 0 6% 0 6%;
  img.logo{
    height: 70%;
    pointer-events: none;
  }
  ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    white-space: nowrap;
    li a{
      color: var(--font-color-light);
      font-family: mediumText;
      font-size: 3vmin;
      text-decoration: none;
    }
    
    /* TEMPORAL */
    cursor: pointer;
  }
}
nav.dark{
  img.logo{
    filter: invert(90%);
  }
  ul li a{
    color: var(--font-color-dark);
  }
}