nav{
  display: flex;
  justify-content: space-between;
  user-select: none;
  img.logo{
    width: 10%;
    margin: 2% 0 0 5%;
    pointer-events: none;
  }
  ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    list-style: none;
    white-space: nowrap;
    gap: 15%;
    margin: 2% 5% 0 0;
    li a{
      color: var(--font-color-light);
      font-family: mediumText;
      font-size: 2.5vmin;
      text-decoration: none;
    }
    
    /* TEMPORAL */
    cursor: pointer;
  }
}
nav.dark{
  img.logo{
    filter: invert(90%);
  }
  ul li a{
    color: var(--font-color-dark);
  }
}